.nav {
  transition: transform 0.7s linear, background-color 0.3s linear,
    color 0.3s linear;
  background-color: rgb(12 12 12);
  color: white;

  &>div{
      transition-duration: 0.7s;
  }
}

.dark {
  background-color: rgb(12, 12, 12);
}

.white {
  background-color: white;
  color: hsl(0, 0%, 0%);
}

.blue {
  background-color: hsl(226, 71%, 40%);
}
