.bar,
.bar > div {
  width: 2em;
  height: 4px;
  transition-property: transform opacity;
  transition: transform 0.2s ease-in;
}

.bar {
  & > div {
    position: absolute;
    top: 0;
    left: 0;
  }

  & > div:nth-child(1) {
    transform: translateY(-200%);
  }

  & > div:nth-child(2) {
    transform: translateY(200%);
  }

  & > div:nth-child(3) {
    opacity: 1;
  }


  &.mid {
    transform: rotate(-10deg);
    & > div:nth-child(1) {
      transform: translateY(0%);
    }

    & > div:nth-child(2) {
      transform: translateY(0%);
    }
  }

  &.open {
    //   opacity: 0;
    transform: rotate(180deg);
    & > div:nth-child(1) {
      transform: translateY(0%) rotateZ(-45deg);
    }

    & > div:nth-child(2) {
      transform: translateY(0%) rotate(45deg);
    }
  }
}
